<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HistorialController</servlet-name>
        <servlet-class>edu.utp.dwi.citasmedicas.controller.HistorialController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>edu.utp.dwi.citasmedicas.controller.demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitaController</servlet-name>
        <servlet-class>edu.utp.dwi.citasmedicas.controller.CitaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HistorialController</servlet-name>
        <url-pattern>/HistorialController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitaController</servlet-name>
        <url-pattern>/CitaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
